Repository fga-eps-mds/2023.1-DAB, pull requests merged in 2023-07, with the labels that each got.

#61 paginas dinamicas
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/chart/bar-chart/bar-chart.component.scss
  frontend/src/app/chart/bar-chart/bar-chart.component.ts
  frontend/src/app/components/card/card.component.html
  frontend/src/app/components/card/card.component.ts
  frontend/src/app/components/components.module.ts
  frontend/src/app/interfaces/ChartData.ts
  frontend/src/app/interfaces/IbgeData.ts
  frontend/src/app/pages/dados-pecuarios/dados-pecuarios.component.html
  frontend/src/app/pages/dados-pecuarios/dados-pecuarios.component.ts
  frontend/src/app/services/bovinocultura-service/bovinocultura.service.ts
  frontend/src/app/services/dab-service/dab-service.service.spec.ts
  frontend/src/app/services/dab-service/dab-service.service.ts
Labels: front

#63 Update/populate
  backend/app.py
  backend/config/db.py
  backend/populate.py
  backend/routes/avinocultura.py
  backend/routes/bovinocultura.py
  backend/routes/safra.py
  backend/routes/suinocultura.py
  backend/script/IbgePecuaria.py
  backend/script/IbgeRequest.py
  backend/script/IbgeSafra.py
  backend/script/__init__.py
  backend/script/models.py
  backend/script/urls.py
  backend/script/util.py
Labels: back

#69 Fix lint
  frontend/src/app/app.module.ts
  frontend/src/app/components/card/card.component.ts
  frontend/src/app/components/components.module.ts
  frontend/src/app/pages/dados-pecuarios/dados-pecuarios.component.ts
  frontend/src/app/pages/dados-safras/dados-safras.component.ts
  frontend/src/app/pages/pages.module.ts
  frontend/src/app/services/avinocultura-service/avinocultura.service.ts
  frontend/src/app/services/bovinocultura-service/bovinocultura.service.ts
  frontend/src/app/services/safra-service/safra.service.ts
  frontend/src/app/services/suinocultura-service/suinocultura.service.ts
  frontend/src/app/shared/http-base-service/http-base.service.ts
Labels: front

#75 cards reponsivos
  frontend/src/app/components/card/card.component.html
  frontend/src/app/components/card/card.component.scss
  frontend/src/app/pages/dados-safras/dados-safras.component.ts
  frontend/src/assets/feijao.png
  frontend/src/assets/milho.png
  frontend/src/assets/rice.png
  frontend/src/assets/soja.png
  frontend/src/styles.scss
Labels: front

#77 fix mapa
  frontend/src/app/components/map/map.component.html
  frontend/src/app/components/map/map.component.scss
  frontend/src/app/pages/home-safras/home-safra.component.html
Labels: front

#80 PR destinado a ajustes nos graficos
  frontend/src/app/chart/bar-chart/bar-chart.component.html
  frontend/src/app/chart/bar-chart/bar-chart.component.scss
  frontend/src/app/chart/bar-chart/bar-chart.component.ts
  frontend/src/app/interfaces/ChartData.ts
  frontend/src/assets/grafico-de-barras.png
  frontend/src/assets/grafico-de-linha.png
Labels: front

#82 pequenas mudanças no front
  frontend/src/app/components/card/card.component.scss
  frontend/src/app/components/carousel/carousel.component.scss
  frontend/src/app/components/header/header.component.scss
  frontend/src/app/pages/home-page/home-page.component.scss
Labels: front

#84 Dados/populacao
  backend/app.py
  backend/config/db.py
  backend/populate.py
  backend/routes/populacao.py
  backend/script/IbgePopulacao.py
  backend/script/models.py
  backend/script/util.py
  frontend/src/app/pages/dados-pecuarios/dados-pecuarios.component.ts
  frontend/src/app/services/avinocultura-service/avinocultura.service.ts
  frontend/src/app/services/bovinocultura-service/bovinocultura.service.ts
  frontend/src/app/services/suinocultura-service/suinocultura.service.ts
Labels: front, dados, back

#73 Documentation/backend
  backend/app.py
  backend/routes/avinocultura.py
  backend/routes/bovinocultura.py
  backend/routes/safra.py
  backend/routes/suinocultura.py
Labels: documentation

#86 [FIX] Redirecionamento no menu
  frontend/src/app/pages/home-page/home-page.component.html
  frontend/src/app/pages/home-page/home-page.component.scss
  frontend/src/app/pages/home-page/home-page.component.ts
  frontend/src/assets/tech_agro.png
Labels: bug, front

#93 Fix/banner
  frontend/src/app/components/header/header.component.html
  frontend/src/app/components/header/header.component.scss
  frontend/src/app/pages/home-page/home-page.component.html
  frontend/src/app/pages/home-page/home-page.component.scss
  frontend/src/app/pages/home-page/home-page.component.ts
Labels: front

#92 avinocultura para avicultura
  backend/app.py
  backend/routes/avicultura.py
  frontend/src/app/pages/dados-pecuarios/dados-pecuarios.component.ts
  frontend/src/app/pages/home/home.component.ts
  frontend/src/app/services/avicultura-service/avicultura.service.spec.ts
  frontend/src/app/services/avicultura-service/avicultura.service.ts
Labels: bug

#94 update README
  README.md
Labels: documentation

#96 Feature/git page
  docs/PostMortem.html
  docs/Produto.html
  docs/css/app.css
  docs/css/pack.css
  docs/img/Identidade-visual.png
  docs/img/Persona.png
  docs/img/Prototipo.png
  docs/img/Tabela-conhecimentos.png
  docs/img/agro-4.0.jpeg
  docs/img/backlog.png
  docs/img/fazendeiro_plantando.png
  docs/img/img_landscape-01-large.jpg
  docs/img/img_landscape-02-large.jpg
  docs/img/img_portfolio-01-480-720.jpg
  docs/img/img_portfolio-02-480-720.jpg
  docs/img/img_portfolio-03-480-720.jpg
  docs/img/img_portfolio-04-480-720.jpg
  docs/img/img_portfolio-05-480-720.jpg
  docs/img/img_portfolio-06-480-720.jpg
  docs/img/img_portfolio-07-480-720.jpg
  docs/img/logomarca.png
  docs/img/maquinas.jpg
  docs/img/pecuaria.jpg
  docs/img/plantacao.jpg
  docs/img/producao-trigo.jpg
  docs/img/produtor-organico.jpg
  docs/img/safra.jpg
  docs/index.html
  docs/js/main.js
  docs/mkdocs/mkdocs.yml
Labels: documentation, time, organization
