Repository fga-eps-mds/2023.1-DAB, pull requests merged in 2023-06, with the labels that each got.

#37 [HOMEPAGE] Implementação da tela inicial
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/carousel/carousel.component.html
  frontend/src/app/components/carousel/carousel.component.scss
  frontend/src/app/components/carousel/carousel.component.spec.ts
  frontend/src/app/components/carousel/carousel.component.ts
  frontend/src/app/components/components.module.ts
  frontend/src/app/components/header/header.component.html
  frontend/src/app/components/header/header.component.scss
  frontend/src/app/pages/home-page/home-page.component.html
  frontend/src/app/pages/home-page/home-page.component.scss
  frontend/src/app/pages/home-page/home-page.component.spec.ts
  frontend/src/app/pages/home-page/home-page.component.ts
  frontend/src/app/pages/pages.module.ts
  frontend/src/assets/BA.png
  frontend/src/assets/agronegocio.jpeg
  frontend/src/assets/fazendeiro_plantando.png
  frontend/src/assets/main_image.png
  frontend/src/assets/pecuaria.jpg
  frontend/src/assets/safra.jpg
  frontend/src/index.html
  frontend/src/styles.scss
  package-lock.json
Labels: front

#38 add angular workflow
  frontend/.eslintrc.json
  frontend/angular.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/chart/bar-chart/bar-chart.component.ts
  frontend/src/app/components/card/card.component.html
  frontend/src/app/components/card/card.component.ts
  frontend/src/app/components/carousel/carousel.component.html
  frontend/src/app/components/components.module.ts
  frontend/src/app/components/header/header.component.html
  frontend/src/app/service/ibge-api.service.ts
Labels: enhancement, testes

#39 [fix] add workflow file
  .github/workflows/main.yml
Labels: documentation

#34 Backend
  .gitignore
  backend/.envsample
  backend/app.py
  backend/config/db.py
  backend/populate.py
  backend/requirements.txt
  backend/routes/avicultura.py
  backend/script/models.py
  backend/script/urls.py
Labels: back

#47 Feature/route avicultura
  backend/.pylintrc
  backend/config/db.py
  backend/populate.py
  backend/routes/avicultura.py
  backend/script/models.py
Labels: back

#45 update requirements with pip-tools
  backend/requirements.txt
  backend/requirements/dev.in
  backend/requirements/dev.txt
  backend/requirements/prod.in
  backend/requirements/prod.txt
  backend/requirements/script.in
  backend/requirements/script.txt
Labels: back

#49 Feature/routes
  backend/app.py
  backend/routes/bovinocultura.py
  backend/routes/safra.py
  backend/routes/suinocultura.py
Labels: back

#55 [fix] adaptando o header da homepage
  frontend/src/app/pages/home-page/home-page.component.html
  frontend/src/app/pages/home-page/home-page.component.scss
Labels: bug, front

#54 add prefix
  backend/routes/avicultura.py
  backend/routes/bovinocultura.py
  backend/routes/safra.py
  backend/routes/suinocultura.py
Labels: back

#56 Services
  backend/app.py
  backend/routes/avicultura.py
  frontend/src/app/services/avinocultura-service/avinocultura.service.spec.ts
  frontend/src/app/services/avinocultura-service/avinocultura.service.ts
  frontend/src/app/services/bovinocultura-service/bovinocultura.service.spec.ts
  frontend/src/app/services/bovinocultura-service/bovinocultura.service.ts
  frontend/src/app/services/safra-service/safra.service.spec.ts
  frontend/src/app/services/safra-service/safra.service.ts
  frontend/src/app/services/suinocultura-service/suinocultura.service.spec.ts
  frontend/src/app/services/suinocultura-service/suinocultura.service.ts
  frontend/src/app/shared/http-base-service/http-base.service.spec.ts
  frontend/src/app/shared/http-base-service/http-base.service.ts
Labels: front

#57 Refactor/routes
  backend/routes/avicultura.py
  backend/routes/bovinocultura.py
  backend/routes/safra.py
  backend/routes/suinocultura.py
  backend/script/urls.py
Labels: back

#59 update README
  README.md
Labels: documentation
